.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24
}
.organic-bg {
    background-color: #1d8cf8;
    background-image: radial-gradient(at 80% 0%, rgba(255, 255, 255, 0.1) 0, transparent 50%), radial-gradient(at 0% 50%, rgba(255, 255, 255, 0.05) 0, transparent 50%), repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.01) 0, rgba(255, 255, 255, 0.01) 2px, transparent 2px, transparent 12px)
}
.glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1)
}
.right-pattern {
    background-color: #f8f9fa;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 24px 24px
}
.animal-watermark {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuD2X_WkwNUy4nJg52ShLu4X_cibVul38FFBLaPAwpOSkoumyz0522i6-BoDo4DknluvBqJPzJjClliUrt2McfHxhSCVDVhnuncqM1MxysiU-XTny3cYQim9RogL60aBjD4BvzI-S2P4Qus25OGNnYvGGZtBEdacWWjEkdo-4hautjC5GgG8VAQiCxQcXDsF37pEfN9T2ujLFTVsx14KKuwPQlrYjzwB0qXPnJ2AIxkzMsPWrmFupmJ0JO3tESwiVznwSs0Qc3rNRnY);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
